$footer-color: mix(#0A2625, #67D6CA, 100%);
$button-color: mix(#78C2AD, #FFFFFF, 100%);


@font-face {
    font-family: BorderIslamic;
    src: url("/public/fonts/BordersIslamic1444-lg6g5.ttf") format('truetype');
}

@font-face {
    font-family: surahnames;
    src: url("/public/fonts/Quran karim 114.ttf") format('truetype');
}

@font-face {
    font-family: basmalah;
    src: url("/public/fonts/Basmalah Ver01.otf") format('opentype');
}

@font-face {
    font-family: UthmanicHafs;
    src: url("/public/fonts/UthmanicHafs1Ver18.ttf") format('truetype'),
         url("/public/fonts/UthmanicHafs1Ver18.woff2") format('woff2');
}

@font-face {
    font-family: IndoPak;
    src: url("/public/fonts/indopak-nastaleeq-waqf-lazim-v4.2.1.ttf") format('truetype'),
         url("/public/fonts/indopak-nastaleeq-waqf-lazim-v4.2.1.woff") format('woff'),
         url("/public/fonts/indopak-nastaleeq-waqf-lazim-v4.2.1.woff2") format('woff2');
}

// @font-face {
//     font-family: ayaNo;
//     src: url("/public/fonts/KfgqpcHafsUthmanicScriptRegular-nARZ1.ttf") format('truetype');
// }

.aya-side-menu-color{
    color: #A5F38A;
}

.background{
    background-color: #2D6360;
}

.contact-form-button-color{
    background-color: #8DFD98;
    background-color: #3AFFDC;
}

.background-image{
    background-image: url("/resources/images/background-image.png");
    background-size: cover;
}

.header-image {
    background-image: url("/resources/images/header-image.png");
    height: 768px;
}

.home-recitation{
    background-color: #78C2AD;
    border: 2px solid #C0C0C0;
}

.btn-color{
    background-color: $button-color;
}

.btn-color-outline{
    border-color: $button-color;
    color: $button-color;
}

.footer {
    height: 500px;
    background-color: $footer-color;
    .footer-copyright{
        height: 40px;
    }
}

.recitation-side-menu{
    background-color: $footer-color;
}
